<div class="reg-container">
  <p>
    Регистрация:
  </p>
  <form action="/registr" method="post">
    <div class="form-pair">
      <label>Логин</label>
      <input type="text" class="form-input" placeholder="Логин" name="username">
    </div>
    <div class="form-pair">
      <label>Пароль</label>
      <input type="text" class="form-input" placeholder="Пароль" name="password">
    </div>
    <button type="submit" class="form-submit-button">Зарегистрироваться</button>
  </form>
</div>